body {
  text-align: center;
}

.box {
  width: 200px;
  height: 100px;
  background-color: white;
  margin: 20px auto;
  border: 4px solid black;
}

.solid-border {
  border-style: solid;
}

.dotted-border {
  border-style: dotted;
}

.dashed-border {
  border-style: dashed;
}

.double-border {
  border-style: double;
  border-width: 8px; /* Making it thicker to see the effect */
}

.rounded-corners {
  border-radius: 20px;
  border-color: darkblue;
}

.perfect-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: darkgreen;
}